<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <style>
        .fig {
            text-align: center;
        }
        .mytable{
            border-collapse: separate;
            border-spacing: 10px 10px;
        }
        td{
            vertical-align: top;
        }
    </style>

    <table style="width: 100%" border="0">
        <tr>
            <td style="width: 20%">
                <ul class="nav">
                    <li class="nav-header">Жанры</li>
                    <li th:each="genre :${genres}"><a href="#" th:text="${genre.name}"></a></li>
                    <li class="nav-header">Издательства</li>
                    <li th:each="publish :${publish}"><a href="#" th:text="${publish.name}"></a></li>
                </ul>
            </td>
            <td >
                <div>
                    <form action="#" th:action="@{/findbookcatalog}" th:object="${book}" method="post">
                        <table class="mytable" style="width: 100%">
                            <tr>
                                <td style="width: 80%"><input class="form-control form-control-lg" type="text" th:field="*{name}" /></td>
                                <td><button class="btn btn-primary" type="submit">Найти книгу</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <table th:each="book: ${books}" class="mytable">
                    <tr >
                        <td>
                            <div class="fig" style=" width: 200px; height: 300px;">
                                <img th:src="@{${book.image}}" style="max-width: 200px; max-height: 300px;"/>
                            </div>
                        </td>
                        <td>
                            <table class="mytable">
                                <tr>
                                    <td><b>Название</b></td>
                                    <td><span th:text="${book.name}"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Цена</b></td>
                                    <td><span th:text="${book.price}"></span><span> руб.</span></td>
                                </tr>
                                <tr>
                                    <td><b>Год издания</b></td>
                                    <td><span th:text="${book.year}"></span><span> г.</span></td>
                                </tr>
                                <tr th:each="language: ${languages}">
                                    <td th:if="${book.language}==${language.id}"><b>Язык</b></td>
                                    <td th:if="${book.language}==${language.id}"><span th:text="${language.name}"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Число страниц</b></td>
                                    <td><span th:text="${book.pages}"></span></td>
                                </tr>
                                <tr th:each="publish: ${publish}">
                                    <td th:if="${book.publishhouse}==${publish.id}"><b>Издательство</b></td>
                                    <td th:if="${book.publishhouse}==${publish.id}"><span th:text="${publish.name}"></span></td>
                                </tr>
                                <tr th:each="cover: ${cover}">
                                    <td th:if="${book.cover}==${cover.id}"><b>Обложка</b></td>
                                    <td th:if="${book.cover}==${cover.id}"><span th:text="${cover.name}"></span></td>
                                </tr>
                                <tr>
                                    <td><b>Наличие</b></td>
                                    <td th:if="${book.quantity}>0"><span th:text="${book.quantity}"></span><span> экземпляров</span></td>
                                    <td th:if="${book.quantity}==0"><span>Нет в наличии</span></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 55%">
                            <table class="mytable">
                                <tr>
                                    <td><b>Авторы</b></td>
                                    <div th:each="bookauthor: ${bookauthor}">
                                        <div th:if="${book.id}==${bookauthor.book}">
                                            <div th:each="author: ${authors}">
                                                <td th:if="${author.id}==${bookauthor.author}"><span th:text="${author.surname}"></span></td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <td><b>Жанры</b></td>
                                    <div th:each="bookgenre: ${bookgenre}">
                                        <div th:if="${book.id}==${bookgenre.book}">
                                            <div th:each="genre: ${genres}">
                                                <td th:if="${genre.id}==${bookgenre.genre}"><span th:text="${genre.name}"></span></td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <td><b>Описание</b></td>
                                </tr>
                            </table>
                            <p th:text="${book.text}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <form action="#" th:action="@{/addToBin}" th:object="${booksOrders}" method="post">
                                <input th:type="number" th:min="1" th:max="${book.quantity}" th:step="1" th:field="*{quantity}"/>
                                <input th:type="radio" th:value="${book.id}" th:field="*{book}"/>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить в корзину</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>