<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <div th:replace="fragments/header :: header-css"/>
    <title>characteristic</title>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <style>
        table{
            border-collapse: separate;
            border-spacing: 10px 10px;
        }
    </style>

    <table style="width: 100%"  border="0">
        <tr>
            <td valign="top" style="width: 33%" >
                <div class="card border-primary mb-3">
                    <div class="card-header">Жанры</div>
                    <div class="card-body">
                        <h4 class="card-title">Управление жанрами</h4>
                        <form action="#" th:action="@{/characteristicGenre}" th:object="${genre}" method="post">
                            <input type="text" th:field="*{name}" />
                            <button type="submit">Добавить жанр</button>
                        </form>
                        <div>
                            <p></p>
                        </div>
                        <form action="#" th:action="@{/characteristicGenreDel}" th:object="${genre}" method="post">
                            <input type="text" th:field="*{name}" />
                            <button type="submit">Удалить жанр</button>
                        </form>
                        <div th:each="genre: ${genres}">
                            <b th:text="${genre.id}"></b>
                            <span th:text="${genre.name}"></span>
                        </div>
                    </div>
                </div>
            </td>
            <td valign="top" style="width: 33%">
                <div class="card border-primary mb-3">
                    <div class="card-header">Издательства</div>
                    <div class="card-body">
                        <h4 class="card-title">Управление издательствами</h4>
                        <form action="#" th:action="@{/characteristicPublish}" th:object="${publishHouse}" method="post">
                            <table>
                                <tr>
                                    <td><b>Название</b></td>
                                    <td><input type="text" th:field="*{name}" /></td>
                                </tr>
                                <tr>
                                    <td><b>Страна</b></td>
                                    <td><input type="text" th:field="*{country}" /></td>
                                </tr>
                                <tr>
                                    <td><b>Город</b></td>
                                    <td><input type="text" th:field="*{city}" /></td>
                                </tr>
                            </table>
                            <button type="submit">Добавить издательство</button>
                        </form>
                        <div>
                            <p></p>
                        </div>
                        <form action="#" th:action="@{/characteristicPublishDel}" th:object="${publishHouse}" method="post">
                            <input type="text" th:field="*{name}" />
                            <button type="submit">Удалить издательство</button>
                        </form>
                        <table style="width: 100%" border="0">
                            <tr th:each="publish: ${publish}">
                                <td>
                                    <span th:text="${publish.name}"></span>
                                </td>
                                <td>
                                    <span th:text="${publish.country}"></span>
                                </td>
                                <td>
                                    <span th:text="${publish.city}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td valign="top" style="width: 33%">
                <div class="card border-primary mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </td>
        </tr>

    </table>

    <div th:replace="fragments/footer :: footer"/>
</body>
</html>